body {
  margin: 0;
  padding: 0;
  background: #eeaeca;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.table {
  --bs-table-bg: transparent !important;
}

/* .hidden {
  display: none;
}

td:has(input:checked) ~ td {
  text-decoration: line-through;
} */
